Copy and paste this template into a terraform.tfvars file and fill out the variables to use in your development deployment.

rg = <resource-group-name>

location = <cloud-infra-location>

your_ip = <your-public-ip>

certbot_email = <your-email-address>

domain_name = <your-domain-name>

route53_zone_name = <domain-name-again>